*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: pink;
}
.container{
    width:1200px;
    margin: 20px auto;
    columns: 4;
    column-gap: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.box{
    width:100%;
    margin: 0 0 20px;
    padding: 10px;
    background: #fff;
    overflow: hidden;
    break-inside: avoid;
}
.container .box img{
    max-width: 100%;
}
.title{
    margin:10px 0 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
}
.__paragraph{
    margin: 0;
    padding: 0 0 210px;
    font-size: 16px;
}
@media (max-width: 1200px){
    .container{
       columns: 3;
       width:calc(100% - 40px);
       box-sizing: border-box;
       padding: 20px 20px 20px 0;
    }
}
.title:hover{
    color: red;
    transition: 0.5s;
    transform: rotateX('-15%');
    animation-duration: 0.2s;
}
.__paragraph:hover{
    transform: 
    scale(1)
    rotate(45deg)
    translate(-50%);
}


